# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
scripts/entrypoint_jazzy.sh text eol=lf
scripts/entrypoint_humble.sh text eol=lf

